@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
body {
  scrollbar-width: none;
}

:root {
  --primary-color: white;
  --dark-p-color: #0d0d0d;
  --secondary-color:#EAEAEA
}
